body {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    z-index: 1000;
}

.main {
    display: flex;
    background: rgba(255, 224, 94, 1);
    height: 72px;
    width: 100%;
    justify-content: space-between;
    /* border: 3px #cccccc solid; */
}
.any {
    width: 40%;
    gap: 7%;
    min-width: 513px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 3px #cccccc solid; */
    padding: 0 5%;
}
.logo {
    margin-top: 8px;
    height: 50px;
    cursor: pointer;
}
.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.p {
    margin-top: 21px;
    border: none;
    background: none;
    width: 100%;
    min-width: 78px;
    height: 24px;
    color: #4d4d4d;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.searchbox {
    display: flex;
    min-width: 200px;
    width: 30%;
    flex-direction: row;
    /* border: 3px #cccccc solid; */
}
.search {
    min-width: 170px;
    margin-top: 17px;
    width: 79%;
    height: 35px;
    background: white;
    input:focus {
        outline: none;
    }
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.search:focus {
    outline: none;
}
.search2 {
    margin-right: 5%;
    margin-left: 2%;
    margin-top: 17px;
    height: 37px;
    background: white;
    cursor: pointer;
}
.searchlogo {
    margin: 7px;
}

.navsub {
    height: 280px;
    width: 100%;
    background: rgba(255, 236, 154, 1);
    display: flex;
    flex-direction: row;
    position: relative;
}
.d {
    margin-top: 35px;
}
.c {
    color: #4c4c4c;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
}
.log {
    margin-top: -4px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
    min-width: 87px;
    flex-direction: row-reverse;
    margin-right: 5%;
}
.e {
    background: none;
    color: #4d4d4d;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    input:focus {
        outline: none;
    }
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    cursor: pointer;
}
//mobile-------------------------------------------------------
.header2 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.main23 {
    height: 100%;
    width: 100%;
    background: #ffe05e;
}
.any23 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 3px #cccccc solid; */
}
.logo2 {
    margin: 2% 7%;
    width: 80px;
    cursor: pointer;
}
.p2 {
    margin-top: -4px;
    border: none;
    background: none;
    min-width: 30px;
    height: 13px;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
.p3 {
    margin-top: -4px;
    border: none;
    background: none;
    width: 45px;
    height: 13px;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}
.log2 {
    margin-top: -9px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 5%;
    min-width: 48px;
    /* border: 3px #cccccc solid; */
}
.e2 {
    background: none;
    margin-top: 5px;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    input:focus {
        outline: none;
    }
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    cursor: pointer;
}
.searchbox2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    border: 2px #e5d283 solid;
    justify-content: space-between;
}
.search3 {
    width: 80px;
    background: white;
    input:focus {
        outline: none;
    }
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    flex: 1;
    left: 40px;
}
.search3:focus {
    outline: none;
}
.search22 {
    height: 37px;
    background: white;
    cursor: pointer;
    border-left: 2px #e5d283 solid;
}
.searchlogo2 {
    margin: 7px;
}
.searchtext2 {
    min-width: 62px;
    height: 37px;
    input:focus {
        outline: none;
    }
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 2px #e5d283 solid;
    background: white;
    cursor: pointer;
}
.searchtext3 {
    margin: 10px 0px;
    color: #e5d283;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}
