body {
    font-family: "Noto Sans KR", sans-serif;
}
.mainbox {
    min-width: 350px;
    width: 70%;
    flex-shrink: 0;
    background: #fff;
    margin: 224px 0;
}
.mainbox2 {
    min-width: 350px;
    width: 100%;
    height: full;
    flex-shrink: 0;
    background: #fff;
    margin-top: 224px;
}
.title {
    color: black;
    font-size: 40px;
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 41px;
    margin-left: 64px;
}

.customContainer {
    position: relative;
    margin-top: 80px;
    margin-left: 64px;
    background: #ddd;
}

.customBox1 {
    width: 1110px;
    height: 47px;
    left: 0;
    top: 0;
    position: absolute;
    background: white;
    border-radius: 4px;
    border: 1px #cccccc solid;
}

.customText1 {
    left: 23px;
    top: 15px;
    position: absolute;
    color: black;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
}

.customText2 {
    left: 69px;
    top: 15px;
    position: absolute;
    color: #ffb800;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7rem;
    padding-bottom: 4%;
    margin-bottom: 3rem;
    margin-top: 50px;
    border-bottom: 1px #a8a8a8 solid;
}
.line2 {
    width: 1073px;
    height: 1px;
    background: #a8a8a8;
    margin-top: 60px;
}
.tree {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    border: 1px #cccccc solid;
}
.tree1 {
    color: #666666;
    font-size: 28px;
    font-family: Pretendard;
    font-weight: 400;
    word-wrap: break-word;
}
.tree2 {
    color: #ffe500;
    font-size: 28px;
    font-family: Pretendard;
    font-weight: 400;
    word-wrap: break-word;
}
.tree3 {
    color: #ffe500;
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 400;
    word-wrap: break-word;
}
.tree4 {
    color: #666666;
    font-size: 18px;
    font-family: Pretendard;
    font-weight: 400;
    word-wrap: break-word;
}
.tree5 {
    color: #666666;
    font-size: 15px;
    font-family: Pretendard;
    font-weight: 400;
    word-wrap: break-word;
}

.main-container {
    margin-left: 60px;
    margin-top: 136px;
    position: relative;
    width: 1120px;
    height: 372px;
}

.info-box {
    position: absolute;
    left: 51px;
    top: 285px;
    width: 1016px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.welcome-box {
    position: absolute;
    left: 48px;
    top: 107px;
    width: 1016px;
    height: 143px;
    font-size: 24px;
    color: #666;
}

.divider {
    position: absolute;
    left: 0;
    top: 72px;
    width: 1120px;
    height: 0;
    border: 3px solid #ccc;
}

.section-header {
    position: absolute;
    left: 7px;
    top: 0;
    width: 111px;
    height: 48px;
}

.section-title {
    position: absolute;
    left: 41px;
    top: 0;
    font-size: 40px;
    font-weight: medium;
    color: #000;
    white-space: nowrap;
}

.section-icon {
    position: absolute;
    right: 80px;
    top: -45px;
    bottom: 36.46%;
    width: 50px;
    height: 150px;
    color: rgba(117, 117, 117, 1);
}
.screen {
    top: 47px;
    height: 781px;
    position: relative;
    width: 1120px;
    border: 3px solid #ccc;
}
.screen .divider {
    left: 60px;
    margin-top: 50px;
}
.screen .line {
    height: 3px;
    left: 0;
    position: absolute;
    top: 69px;
    width: 1120px;
}

.screen .title {
    height: 48px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 111px;
}

.screen .text-wrapper {
    color: #000000;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    left: 41px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
}

.screen .vector {
    height: 16px;
    left: -2px;
    position: absolute;
    top: 16px;
    width: 29px;
}

.screen .view {
    height: 95px;
    left: 48px;
    position: absolute;
    top: 96px;
    width: 1016px;
}

.screen .div {
    color: #666666;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
    white-space: nowrap;
}

.screen .p {
    color: #666666;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 96px;
    width: 1016px;
}

.screen .view-2 {
    height: 95px;
    left: 48px;
    position: absolute;
    top: 236px;
    width: 1016px;
}

.screen .view-3 {
    height: 95px;
    left: 48px;
    position: absolute;
    top: 376px;
    width: 1016px;
}

.screen .view-4 {
    height: 95px;
    left: 48px;
    position: absolute;
    top: 516px;
    width: 1016px;
}

.Schebox {
    margin-top: 45px;
    margin-left: 60px;
    position: relative;
    height: 737px;
    width: 1120px;
    border: 3px solid #ccc;
}
.section-icon2 {
    position: absolute;
    left: -5px;
    top: -45px;
    bottom: 36.46%;
    width: 50px;
    height: 150px;
    color: rgba(117, 117, 117, 1);
}
