body {
    height: 100vh;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.mainbox {
    width: 100%;
}

.topbox {
    margin-top: 50px;
    border-bottom: 3px #cccccc solid;
    display: flex;
    padding: 0.5rem;
    padding-left: 1rem;
    gap: 1rem;
    font-size: x-large;
    font-weight: bold;
}

.topbox {
    /* 스타일 정의 */
    cursor: pointer;
}

.botbox {
    padding: 2rem;
    color: #666;
}

.open_arrow {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(90deg);
}
